body {
    font-family: 'Roboto', sans-serif;
}

.heading-text {
    font-family: 'Poppins', sans-serif;
}

.faint-bg {
    background-color: rgba(0, 0, 0, 0.15);
}

header {
    background-image: url('/media/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 600px;
}

footer {
    background-color: #201622;
    text-align: center;
    color: #F4F7F5;
}

footer > p, ul {
    display: inline-block;
    margin-bottom: 0;
}

footer > p {
    font-size: 18px;
}

.list-inline-item {
    margin-left: 10px;
}

.social {
    font-size: 25px;
    padding: 10px;
    color: #F4F7F5;
}