/* ------------------General Styles------------------ */

/* Text */
body {
    font-family: 'Roboto', sans-serif;
}

.heading-text {
    font-family: 'Poppins', sans-serif;
}

.txt-light {
    color: #F4F7F5;
}

.txt-dark {
    color: #201622;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 29px;
}

h3 {
    font-size: 22px;
}

/* Background colours */
.bg-color-faint {
    background-color: rgba(32, 22, 34, 0.5);
}

.bg-color-footer {
    background-color: #201622;
}

.bg-color-about {
    background-color: #43b792;
}

.bg-color-menu {
    background-color: #F4F7F5;
}

.bg-color-location {
    background-color: #b03f57;
}

.bg-color-bookingform {
    background-color: #b03f57;
}

.bg-colour-booking-confirmed {
    background-color: #F4F7F5;
}

/* Buttons */
.btn-red {
    background-color: #b03f57;
}

.btn-red:hover {
    background-color: #8a3244;
}

.btn-green {
    background-color: #43b792;
}

.btn-green:hover {
    background-color: #0A8A8E;
    color: #F4F7F5;
}

/* --------------------base.html--------------------- */

/* Messages */
.messages {
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 1;
}

/* Nav */
.nav-link,
.navbar-brand {
    color: #F4F7F5 !important;
}

.nav-link:hover,
.navbar-brand:hover,
.social:hover {
    color: #9DAEAD !important;
}

/* Footer */
footer {
    text-align: center;
}

footer > p, ul {
    display: inline-block;
    margin-bottom: 0;
}

footer > p {
    font-size: 18px;
}

.list-inline-item {
    margin-left: 10px;
}

.social {
    font-size: 25px;
    padding: 10px;
}

/* --------------------index.html-------------------- */

/* Page Heading */
.heading {
    background-image: url('/media/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 500px;
}

.heading > div {
    height: 500px;
}

.page-heading {
    width: -moz-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

/* About Us section */
.about-text {
    text-align: justify;
}

/* Menu Section */
.menu-text {
    text-align: center;
}

/* Location Section */
.location-text p {
    font-size: 16px;
}

.opening-wkday, .opening-wkend {
    display: block;
    margin-left: 0;
}

.map-wrapper {
    height: 400px;
}

iframe {
    border: none;
}

/* -----------------make_booking.html---------------- */

/* Backgound */
.bookings {
    background-image: url('/media/pizza4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* Booking form */
.bookings-content {
    padding-top: 150px;
    margin-left: 6px;
    margin-right: 6px;
}

.booking-form {
    border-radius: 5px;
}

.booking-info {
    font-size: 18px;
}

.no-table-error div {
    background-color: #FFF3CD;
}

.no-table-error li {
    list-style: none;
}

.booking-details {
    height: 200px;
}

/* --------------booking_confirmed.html-------------- */

.bookings-confirmed {
    background-image: url('/media/pizza4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.confirmed-content {
    padding-top: 150px;
}

.image-cont {
    width: 100%;
    height: 100%;
    background-image: url('/media/restaurant.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

/* -------------------Media queries------------------ */

/* For screens 376px and up */
@media screen and (min-width: 376px) {
    .location-text p {
        font-size: 18px;
    }
}

/* For screens 450px and up */
@media screen and (min-width: 450px) {
    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 33px;
    }

    h3 {
        font-size: 24px;
    }
}

/* For screens 576px and up */
@media screen and (min-width: 576px) {
    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
        font-size: 24px;
    }

    .menu-text {
        text-align: left;
    }

    .location-text p {
        font-size: 20px;
    }
}

/* For screens 768px and up */
@media screen and (min-width: 768px) {
    h1 {
        font-size: 45px;
    }

    h2 {
        font-size: 39px;
    }

    h3 {
        font-size: 26px;
    }

    .location-text p, .location-header {
        text-align: left;
    }

    .opening-hours {
        padding-left: 35px;
    }

    .messages {
        left: 17%;
    }

    .about-content {
        padding-left: 50px !important;
        padding-right: 50px !important;
    }
}

/* For screens 785px and up */
@media screen and (min-width: 785px) {
    .opening-wkday, .opening-wkend {
        display: inline;
    }
    
    .opening-wkday {
        margin-left: 10px;
    }
    
    .opening-wkend {
        margin-left: 72px;
    }
}

/* For screens 992px and up */
@media screen and (min-width: 992px) {
    h1 {
        font-size: 50px;
    }

    h2 {
        font-size: 43px;
    }

    h3 {
        font-size: 28px;
    }

    .opening-wkday, .opening-wkend {
        display: block;
        margin-left: 0;
    }

    .opening-wkday {
        margin-bottom: 10px;
    }

    .location-information {
        padding-left: 10%;
    }
}

/* For screens 1200px and up */
@media screen and (min-width: 1200px) {
    h1 {
        font-size: 56px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 32px;
    }

    .menu-text {
        padding-right: 1rem;
        padding-left: 3rem;
    }

    .menu-pic1 {
        padding-right: 3rem;
    }

    .menu-pic2 {
        padding-right: 3rem;
    }

    .opening-wkday, .opening-wkend {
        display: inline;
    }

    .opening-hours {
        padding-left: 0;
    }

    .location-information {
        padding-left: 5%;
    }

    .opening-wkday {
        margin-left: 10px;
    }
    
    .opening-wkend {
        margin-left: 72px;
    }

    .messages {
        left: 25%;
    }
}