{% extends "base.html" %}

{% block content %}

<div class="container-fluid bookings bookings-confirmed">
    <div class="row bookings-content">
        <div class="col-6 mx-auto mb-5 bg-colour-booking-confirmed txt-dark lead">
            <div class="row">
                <div class="col-12">
                    <h3>Thank You!</h3>
                    <hr>
                    <p>We have a spare table and your booking has been made.</p>
                    <p>Your booking details are as follows:</p>
                    
                </div>
            </div>
            <div class="row booking-details">
                <div class="col-6">
                    <div class="image-cont"></div>
                </div>
                <div class="col-6">
                    <p>The Pizza Oven</p>
                    <p>Table for {{ booking.party_size }} people</p>
                    <p>{{ booking.date }} at {{ booking.time }}</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}