{% extends "base.html" %}

{% block content %}

    <div class="container-fluid bg-color-bookings">
        <div class="row">
            <div class="col-12 my-4 txt-dark text-center">
                <h3 class="m-0 heading-text">Well Done!</h3>
            </div>
        </div>
        <div class="row mx-2">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto mb-4 booking-form bg-color-bookingform txt-light">
                <p class="my-3 booking-info">{{ booking.date }}</p>
                
                
            </div>
        </div>
    </div>

{% endblock %}