{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

    <div class="container-fluid bg-color-bookings txt-light">
        <div class="row">
            <div class="col-12 col-lg-4 mx-auto my-3 booking-form bg-color-bookingform">
                <form action="{% url 'make_booking' %}" method="POST">
                    {% csrf_token %}
                    {{ booking_form | crispy }}
                </form>
                
            </div>
        </div>
    </div>

{% endblock %}