{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

    <div class="container-fluid bg-color-bookings">
        <div class="row">
            <div class="col-12 my-4 txt-dark text-center">
                <h3 class="m-0 heading-text">Book A Table</h3>
            </div>
        </div>
        <div class="row mx-2">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto mb-4 booking-form bg-color-bookingform txt-light">
                <p class="my-3 booking-info">Fill out the form below to make a booking:</p>
                <form action="{% url 'make_booking' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12 col-sm-6">
                            {{ booking_form.date | as_crispy_field }}
                        </div>
                        <div class="col-12 col-sm-6">
                            {{ booking_form.time | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {{ booking_form.non_field_errors }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{ booking_form.party_size | as_crispy_field }}
                            {{ booking_form.name | as_crispy_field }}
                            {{ booking_form.email | as_crispy_field }}
                            {{ booking_form.phone_number | as_crispy_field }}
                            {{ booking_form.special_requirements | as_crispy_field }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col pb-2">
                            <button type="submit" class="btn btn-large btn-green txt-dark">Make Booking</button>
                        </div>
                    </div>
                </form>
                
            </div>
        </div>
    </div>

{% endblock %}