{% extends "base.html" %}

{% block content %}
<!-- About section -->
<section id="about">
    <div class="row bg-color-about txt-dark px-4 g-0">
        <div class="col text-center my-4">
            <h3 class="heading-text display-6">About Us</h3>
            <p class="about-text lead my-0">{{ restaurant.description }}</p>
        </div>
    </div>
    <!-- Image dividers -->
    <div class="row g-0">
        <div class="col-sm-6 col-lg-4 d-none d-sm-inline-block">
            <img class="img-fluid" src="{{ MEDIA_URL }}pizza1.jpg" alt="A pizza on a plate.">
        </div>
        <div class="col-lg-4 d-none d-lg-inline-block">
            <img class="img-fluid" src="{{ MEDIA_URL }}pizza2.jpg" alt="A pizza firing in a pizza oven.">
        </div>
        <div class="col-12 col-sm-6 col-lg-4">
            <img class="img-fluid" src="{{ MEDIA_URL }}pizza3.jpg" alt="A pizza next to rosemary and some tomatoes.">
        </div>
    </div>
</section>




{% endblock %}